<mat-card class="formLogin">
    <div style="text-align: center;">
        <h1 style="color: #1976d2;">Easy Coach</h1>
    </div>
    <div style="text-align: center;">
        <h1 style="font-style: italic;">Login</h1>
    </div>
    <form [formGroup]="formLogin">
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="username" required>
            <mat-error>É necessario informar um e-mail valido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" required>
            <mat-error>É necessario informar sua senha</mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-actions style="margin-left: 25%;">
        <button mat-button (click)="GetLogin()">Entrar</button>
        <button mat-button (click)="createAccount()" style="background: grey; margin-left: 5%;">Nova Conta</button>
    </div>
</mat-card>