<!-- <mat-card class="formLogin">
    <div style="text-align: center;">
        <h1 style="font-style: italic;">Criar Conta</h1>
    </div>
    <form [formGroup]="formCreate">
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Usuário</mat-label>
            <input matInput formControlName="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" required>
        </mat-form-field>
    </form>
    <div mat-dialog-actions style="margin-left: 30%;">
        <button mat-button (click)="CreateAccount()">Salvar</button>
        <button mat-button (click)="close()" style="background: grey; margin-left: 5%;">Cancelar</button>
    </div>
</mat-card> -->