<h1 mat-dialog-title>Sessão</h1>
<div mat-dialog-content>
    <form [formGroup]="formCoachee">
        <mat-form-field appearance="fill" style="width: 405px; ">
            <mat-label>Nº da Sessão</mat-label>
            <input matInput formControlName="sessionNumber" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 405px;">
            <mat-label>Data da Sessão</mat-label>
            <input matInput formControlName="scheduledDateTime" [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 405px;">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 405px; ">
            <mat-label>Descrição</mat-label>
            <textarea matInput style="height: 50px; resize: none;" formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 405px; ">
            <mat-label >Link do Meet</mat-label>
            <input matInput formControlName="inviteUrl" required>
        </mat-form-field>
        <mat-checkbox formControlName="hasCancellationFee">Cobrar taxa de cancelamento?</mat-checkbox>
    </form>
</div>
<div mat-dialog-actions style="justify-content: center;">
    <button mat-button cdkFocusInitial (click)="saveCoachee()">Salvar</button>
    <button mat-button (click)="close()" style="margin-left: 10%; background-color: grey;">Cancelar</button>
</div>